<div class="container-fluid">
   <div class="row">
      <div class="col-lg-3" id="dashboard-nav">
         {{#each languages}}
         <div class="language-container">
            <div class="language">
               {{language}}
            </div>
            
            {{#each tags}}
            <div class="tag">
            {{tag}}
            </div>
            {{/each}}

         </div>
         {{/each}}
      </div>
      <div class="col-lg-9" id="dashboard display">

      </div>
   </div>
</div>