{{!-- nav bar with button routes --}}
<div class="container-fluid" id="navBar">
   <nav class="navbar navbar-light bg-light root-nav" id="codex-navbar">
      <div class="col-4">
         <span class="navbar-brand mb-0 h1">Codex</span>
      </div>
      <div class="col-8 d-flex justify-content-end">
         <a href="/signin" class="btn active" id="sign-in-button">Sign In</a>
      </div>
   </nav>
   <div class="container-fluid" id="root-content">

      <div class="row">

         <div class="col-lg-6 col-md-12">
            <div class="container card p-0" id="tutorial">
               <div class="card-header mb-3">
                  <h3>
                     How Codex Works
                  </h3>
               </div>
               <div class="row p-3">
                  <div class="col-sm">
                     <img src="images/copy.png" class="icons">
                  </div>
                  <div class="col-sm">
                     <img src="images/dashboard.png" class="icons">
                  </div>

                  <div class="col-sm">
                     <img src="images/searchcloud.png" class="icons">
                  </div>
               </div>
               <div class="row mb-3 pl-3 pr-3 pb-3">
                  <div class="col-sm">
                     Copy and Paste your favorite code snippet
                  </div>
                  <div class="col-sm">
                     The snippet will be saved to your dashboard
                  </div>
                  <div class="col-sm">
                     Seach our library for snippets other users have submitted
                  </div>
               </div>
               {{!-- need to insert route to page on button click --}}
               <center><a href="/signup" class="btn btn-secondary btn-lg active mt-3 mb-3" id="getStarted" role="button"
                     aria-pressed="true">Get
                     Started</a></center>
            </div>

         </div>
         {{!-- outline this div --}}
         <div class="col-lg-6 col-md-12">
            <div class="card" id="recentSnips">

               <div class="card-header">
                  <h3 class="text-center">Recent Snippets</h3>
               </div>

               <div id="recent-snippets-display">

                  {{#each snippets}}
                     <div class="m-3">
                        <pre><code>{{snippet}}</code></pre>
                        <p class="pl-4"><strong>Language: </strong> {{language}}</p>
                        <p class="pl-4"><strong>Description: </strong> {{description}}</p>
                        <hr>
                     </div>
                  {{/each}}

               </div>
            </div>
         </div>

      </div>
   </div>