<div class="container-fluid" id="navBar">
   <div class="row">
      <div class="col-10" id="displayName">
         <br>
         Hello UserName!
      </div>
      <div class="col-1">
         <a href="library.handlebars" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Library</a>

      </div>
      <div class="col-1">
         <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Log In</a>

      </div>
   </div>
</div>
<hr>
<div class="container-fluid">

   <div class="row">

      <div class="col-6">
         {{!-- image logo needs to be inserted --}}

         {{!-- tutorial to explain site --}}

         <br>
         <br>
         <br>

         <button type="button" class="btn btn-secondary">Get Started</button>

      </div>
      {{!-- outline this div --}}
      <div class="col-5" id="recentSnips">
         <h3>Recent Snippets</h3>

      </div>

   </div>

</div>