<br>
<br>
<br>
<div id="logo">
   Insert Logo Here
</div>
<br>
<br>
<br>
<div class="container">
   <form action="#" method="POST" name="createUser">
      <div class="row">
         <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="firstName">
         </div>
         <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="lastName">
         </div>
      </div>
      <br>
      <div class="form-group">
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
            name="email">
      </div>
      <div class="form-group">
         <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password">
      </div>
      <div class="form-group">
         <input type="password2" class="form-control" id="InputPassword2" placeholder="Confirm Password" name="confirmPassword">
      </div>
      <button type="submit" class="btn btn-primary" id="userCreate">Submit</button>
   </form>
</div>
<br>
<br>
{{!-- Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"               title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"              title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> --}}
<div class="container" id="tutorial">
   How Codex Works
   <br>
   <br>
   <div class="row">
      <div class="col-sm">
         <img src="./images/copy.png" class="icon">
      </div>
      <div class="col-sm">
         <img src="./images/dashboard.png" class="icon">
      </div>
      <div class="col-sm">
         <img src="./images/searchcloud.png" class="icon">
      </div>
   </div>
   <div class="row">
      <div class="col-sm">
         Copy and Paste your favorite code snippet
      </div>
      <div class="col-sm">
         The snippet will be saved to your dashboard
      </div>
      <div class="col-sm">
         Seach our library for snippets other users have submitted
      </div>
   </div>
</div>