

    <br>

    <br>


    <div class="container" id="loginBody">
        <br>
        <div class="container" id="logoReg">
            Codex 
        </div>
    <br>

    <br>
        <div class="container" id="logForm">
            <form id="signin" name="signin" method="post" action="signin">
                <label for="email">Email Address</label>
                <input class="text form-control" name="email" type="text" id="userEmail"/>
                <label for="password">Password</label>
                <input class="form-control" name="password" type="password" id="userPw"/>
                <input class="btn btn-primary text-center" type="submit" value="Sign In" id="userLogin"/>
            </form>
        </div>

        <br>
    </div>
