/* index.handlebars styling */
#navBar {
   padding: 0;
   background-color: rgb(235, 235, 235);
   height: 100vh;
}

.root-nav {
   border-bottom: 2px solid black!important;
}

#root-content {
   margin-top: 50px;
}

#recentSnips {
   border-style: solid;
   border-radius: 25px;
   border: 2px solid black;
   overflow: auto;
   width: 100%;
   max-height: 500px;
}
#getStarted {
   background: white;
   border: 1px solid #2980b9;
   color: #2980b9;
}

#getStarted:hover {
   background: #2980b9;
   border: 1px solid #2980b9;
   color: white;
}
.icons {
   height: 30px;
   width: 30px;
}
/***********/
/* registration.handlebars styling */

#regBody {
   background-color: rgb(33,33,33);
   color: white;
   height: 100vh;
}

#signup, #signin {
   border-style: solid;
   background-color: white;
   border-radius: 25px;
   padding: 15px;
}

#logo-link {
   color: white;
   text-decoration: none;
}

#logoReg {
   font-family: 'Faster One', cursive;
   text-align: center;
   letter-spacing: 20px;
   font-size: 80pt;
}

#tutorial {
   text-align: center;
   border: 2px solid black;
   border-radius: 25px;
}

.icon {
   height: 40px;
   widows: 40px;
}

#userCreate {
   margin-left: 46%;
}

#sign-up-button, #userLogin {
   border: 1px solid #2980b9;
   color: #2980b9;
}

#sign-up-button:hover, #userLogin:hover {
   background: #2980b9;
   border: 1px solid #2980b9;
   color: white;
}

#message {
   color: black;
}

/***********/

/* login.handlebars styling */

#loginBody {
  margin: 0;
  background-color:  rgb(33,33,33);
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#logForm {
  height: 300px;
  width: 300px;
}

/***********/
/* dashboard.handlebars styling */
body {
   overscroll-behavior: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
}

#login-button, #library-button, #library-button, #sign-in-button {
   background: none;
   color: white;
   border: 1px solid white;
   border-radius: 4px;
   transition: all 300ms;
}

#login-button:hover, #library-button:hover, #library-button:hover, #sign-in-button:hover {
   background: white;
   color: #2980b9;
}

#search-bar {
   border: none;
   border-radius: 4px;
   margin-right: 20px;
}

#search-bar:focus {
   outline: 0;
}

#codex-navbar {
   height: 10vh;
   border-bottom: 1px solid rgb(235, 235, 235);
   /* background: #3CA55C;
   background: -webkit-linear-gradient(to left, rgb(45, 159, 79), rgb(36, 128, 64));
   background: linear-gradient(to left, rgb(58, 205, 102), rgb(28, 160, 68)); */

   background: #2980b9; 
   background: -webkit-linear-gradient(to left, #2980b9, #1a5379);
   background: linear-gradient(to left, #2980b9, #1a5379);
}

.navbar-brand {
   color: white!important;
   letter-spacing: 10px;
   font-size: 25px;
   font-family: 'Faster One', cursive;
}

#dashboard-nav {
   background-color: rgb(40,44,51);
   border-right: 1px solid rgb(235, 235, 235);
   color: white;
   padding: 0;
   cursor: pointer;

   height: 90vh;
   width: 30%;
   position: fixed;
   z-index: -1;
   bottom: 0;
   left: 0;
   overflow-x: hidden;
}

#page-title {
   font-weight: bold;
   color: #40bff5;
   padding: 10px 20px;
   font-size: 20px;
   border-bottom: 1px solid rgb(235, 235, 235);   
}

#new-snippet-button {
   padding: 10px 20px;
   font-size: 20px;
   border-bottom: 1px solid rgb(235, 235, 235);
   transition: color 300ms;
}

#new-snippet-button:hover {
   color: #40bff5;
}

.language-container {
   border-bottom: 1px solid rgb(235, 235, 235);
}

.language {
   padding: 10px 20px;
   font-size: 20px;
   transition: color 300ms;
   opacity: 0;
}

.language:hover {
   color: #40bff5;
}

.tag {
   border-top: 1px solid rgb(235, 235, 235);
   background-color: rgb(46, 55, 69);
   padding: 5px 40px;
   transition: color 300ms;
}

.tag:hover {
   color: #40bff5;
}

.disable-selection {
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer */
   -webkit-user-select: none; /* Chrome, Safari, and Opera */
}

#dashboard-display {
   background-color: rgb(235, 235, 235);
   width: 100%;
   padding: 0;

   height: 90vh;
   width: 75%;
   position: fixed;
   z-index: -1;
   bottom: 0;
   right: 0;
   overflow-x: hidden;
}

.delete-button, .submit-button, .edit-button {
   background-color: #2980b9;
   color: white;
   transition: all 300ms!important;
}

.delete-button:hover, .submit-button:hover, .edit-button:hover {
   background-color: #1a5379;
   color: white;
}

pre, code {
   border-radius: 3px;
}


/***********/